.ticket {
    position: relative;
    width: 100%;
}

.ticket_grid {
    float: left;
    width: 18%;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
}

.ticket_grid:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.ticket_grid_marked {
    float: left;
    width: 18%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    border: 1px solid #000000;
}

.ticket_grid_marked:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.grid_ball {
    font-size: 1.1em;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    float: left;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
}