.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 65px;
    background: #ffffff;
    z-index: 200;
    text-align: center;
    -webkit-box-shadow: -2px 2px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 33px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 33px 0px rgba(0,0,0,0.75);
}

.ball_ticker_area {
    position: relative;
    height: 80%;
    top: 10%;
    width: 60%;
    padding-top: 5px;
    margin: 0px auto !important;
}

.balls {
    float: right;
    margin-left: 10px;
    font-size: 1.1em;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    background: #000000;
    color: #ffffff;
    width: 50px;
}

.last_ball {
    float: right;
    color: #ffffff;
    font-size: 1.1em;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #28aaf4;
    background: #28aaf4;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
}

.bingo_button {
    float: left;
}

@media only screen and (max-width: 800px) {
    .ball_ticker_area {
        width: 100%;
        padding-top: 5px;
        margin: 0px auto !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}